<%= @figure.name %>

<ul>
<% @figure.landmarks.each do |landmark| %>
   <li> <%= landmark.name %> </li>
    <% end %>
</ul>

<ul>
    <% @figure.titles.each do |title| %>
     <li>   <%= title.name %> </li>
        <% end %>
</ul>